<template>
  <div class="customers-view">
    <div class="customers-view__header">
      <div>
        <p class="customers-view__title">All Customers</p>
        <p class="customers-view__attribute">Active Members</p>
      </div>
      <div class="customers-view__searchbar">
        <IconSearch/>
        <input type="text" name="search" id="search" placeholder="Search" class="customers-view__input">
      </div>
    </div>
    <TableComponent :columns="tableColumns" :rows="tableRows" />
    <div class="customers-view__footer">
      <div class="customers-view__total-data">
        <span>Showing data 1 to 8 of 256K entries</span>
      </div>
      <PaginationComponent/>
    </div>
  </div>
</template>

<script>
import IconSearch from "@/components/icons/IconSearch.vue";
import TableComponent from "@/components/partials/TableComponent.vue";
import PaginationComponent from "@/components/partials/PaginationComponent.vue";
export default {
  name: "CustomersView",
  components: {PaginationComponent, TableComponent, IconSearch},
  data() {
    return {
      tableColumns: ["Name", "Company", "Phone", "Email", "Country", "Status"],
      tableRows: [
        { id: 1, Name: "Jane Cooper", Company: "Microsoft", Phone: "(225) 555-0118", Email: "jane@microsoft.com", Country: "United States", Status: "Active" },
        { id: 2, Name: "Floyd Miles", Company: "Yahoo", Phone: "(205) 555-0100", Email: "floyd@yahoo.com", Country: "Kiribati", Status: "Inactive" },
        { id: 3, Name: "Ronald Richards", Company: "Adobe", Phone: "(302) 555-0107", Email: "ronald@adobe.com", Country: "Israel", Status: "Inactive" },
        { id: 4, Name: "Marvin McKinney", Company: "Tesla", Phone: "(252) 555-0126", Email: "marvin@tesla.com", Country: "Iran", Status: "Active" },
        { id: 5, Name: "Jerome Bell", Company: "Google", Phone: "(629) 555-0129", Email: "jerome@google.com", Country: "Réunion", Status: "Active" },
        { id: 6, Name: "Kathryn Murphy", Company: "Microsoft", Phone: "(406) 555-0120", Email: "kathryn@microsoft.com", Country: "Curaçao", Status: "Active" },
        { id: 7, Name: "Jacob Jones", Company: "Yahoo", Phone: "(208) 555-0112", Email: "jacob@yahoo.com", Country: "Brazil", Status: "Active" },
        { id: 8, Name: "Kristin Watson", Company: "Facebook", Phone: "(704) 555-0127", Email: "kristin@facebook.com", Country: "Åland Islands", Status: "Inactive" },
      ],
    };
  },
}
</script>

<style scoped>
.customers-view {
  padding: 30px 40px 40px 38px;
  max-height: 812px;
  border-radius: 30px;
  background: white;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226,236,249,1);
  -moz-box-shadow: 0px 10px 60px 0px rgba(226,236,249,1);
  box-shadow: 0px 10px 60px 0px rgba(226,236,249,1);
}
.customers-view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.customers-view__searchbar {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 9px;
  background: #F9FBFF;
  border-radius: 6px;
}
.customers-view__title {
  font-size: 22px;
  font-weight: bolder;
}
.customers-view__attribute {
  font-size: 14px;
  color: #16C098;
}
.customers-view__input {
  padding-left: 3px;
}
.customers-view__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.customers-view__total-data {
  color: #B5B7C0;
}
input[type=text] {
  border: none;
  background: #F9FBFF;
  border-radius: 0 6px 6px 0;
}
input[type=text]:focus-visible {
  outline: none;
}
input[type=text]::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: #B5B7C0;
}
@media (max-width: 1024px) {
  .customers-view {
    padding: 18px;
    overflow-y: auto;
  }
  .customers-view__header {
    display: block;
  }
  .customers-view__searchbar {
    margin-top: 26px;
  }
  .customers-view__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    gap: 8px
  }
}
</style>