<template>
  <div>
    <table class="table">
      <thead class="table__header">
      <tr class="header-row">
        <th v-for="column in columns" :key="column">{{ column }}</th>
      </tr>
      </thead>
      <tbody class="table__body">
      <tr v-for="row in rows" :key="row.id" class="body-row">
        <td v-for="column in columns" :key="column">{{ row[column] }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "TableComponent",
  props: {
    columns: {
      type: Array,
      required: true,
    },
    rows: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style scoped>
table, tbody, tfoot, thead, tr, th, td {
  /*margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;*/
}
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-row {
  display: flex;
  justify-content: space-between;
  color: #B5B7C0;
}
.body-row {
  display: flex;
  justify-content: space-between;
}
thead tr {
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid #EEEEEE;
}
tbody tr {
  padding: 20px 0;
  border-bottom: 1px solid #EEEEEE;
}
@media (max-width: 1024px) {
  table {
    display: block;
    overflow-x: auto;
  }
  tr, th, td {
    overflow: scroll;
  }
  tbody tr {
    padding: 6px 0;
  }
}
</style>